/* *{margin: 0;padding: 0;box-sizing: border-box;} */

:root{
    --primary-color:#003A5E;
    --secondary-color:#002E4B;
    --tertiary-color:#008DCF;
    --primary-font: "Roboto Slab", Arial;
    --secondary-font: "Manrope", Arial;
}

header{
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
    background-color: var(--secondary-color);
}

header img{width: 80px;}

header div{
    display: flex;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
}

.current{
    border-radius: 2rem;
    background-color: #2f2595;
    box-shadow: 0px 0px 5px #4335d8;
}

nav, nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav a{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-family: var(--secondary-font);
}

p, button{font-family: var(--secondary-font);}

h1, h2, h3, p{
    color: white;
    justify-content: center;
    font-family: var(--primary-font);
}

nav a:hover{
    color: black;
    border-radius: 2rem;
    background-color: var(--tertiary-color);
    box-shadow: 1px 1px 15px rgba(162, 159, 255, 0.255);
}

body{background-color: var(--primary-color);}

main{margin: auto; text-align: center;}

#cards{display: flex; flex-wrap: wrap;}

#cards div img{border-radius: 10px; box-shadow: 0 0 15px black;}

#cards div{
    width: 300px;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 5rem auto 0 auto;
    background-color: rgb(17, 29, 71);
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

#cards div:hover{box-shadow: 1px 1px 15px rgba(162, 159, 255, 0.255);}

#cards button, .btn{
    margin: 1rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 12px;
    background-color: var(--tertiary-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.749);
}

#cards button:hover, .btn:hover{background-color: #69c5ff;}

.btn {
    color: black;
    text-decoration: none;
    font-family: var(--secondary-font);
}

.suggestion-card a{
    align-self: center;
    justify-content: center;
}
.suggestion-card h2{font-size: 3rem; grid-column: 2/3;}

.suggestion-card{
    display: grid;
    padding: 8rem;
    margin: 8rem auto;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    background-color: var(--secondary-color);
}

/* FOOTER */
footer{
    display: flex;
    padding: 2rem;
    margin-top: 5rem;
    font-weight: bold;
    align-items: center;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 20px rgb(39, 39, 39);
}

footer img{
    width: 3rem;
    margin: 1rem;
    filter: drop-shadow(0px 0px 10px #000000aa);
}

footer img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 800px){    
    h1{font-size: 1.8rem;}
    .logo p{font-size: 1rem;}
    main p:nth-child(3), main p:nth-child(4){
        margin: 0 1rem;
        font-size: .8rem;
    }
    
    .ham-menu{display: block;position: relative;align-self: center;}
    .bar{display: block;width: 30px;height: 3.3px;margin: 5px auto;-webkit-transition: all 0.3s;transition: all 0.3s;background-color: white;}

    #ham-menu.active .bar:nth-child(1){transform: translateY(8px) rotate(45deg);}
    #ham-menu.active .bar:nth-child(2){opacity: 0;}
    #ham-menu.active .bar:nth-child(3){transform: translateY(-8px) rotate(-45deg);}
    
    nav{display: none;position: fixed;top: 80px;flex-direction: column;background-color: var(--primary-color);
    width: 100%;transition: 0.3s;}
    nav ul{flex-direction: column;text-align: center;padding: 0;}
    nav li{margin: 1rem 0;}
    nav.active{display: flex;}
    .current{background-color: #2f2595;box-shadow: 0px 0px 5px #4335d8;}

    #cards div{width: 200px;}
    #cards img{width: 200px;}

    .suggestion-card{display: block;}

    .suggestion-card h2{font-size: 2rem; text-align: center;}
    .suggestion-card{padding: 6rem 0;}

    footer img{width: 2rem; margin: .5rem;}
}