@media screen and (max-width: 500px){
    header p{font-size: 1rem;}
    header img{width: 60px;}
    .hero-image{display:none}
    #city-inf{display: none; width: 200px;}
    .cards{display: block;margin: 0;}
    .cards img{width: 100px;}
    .cards article{font-size: .6rem;}
    .members-inf{width: 250px; margin-bottom: 1rem;}
    nav{display: none;}
    .hero-image h1{font-size: .5rem;}
    footer{display: block;}
    footer img{width: 25px;}

    #ham-menu{display: block;position: relative;align-self: center;}

    .bar{display: block;width: 30px;height: 3.3px;margin: 5px auto;-webkit-transition: all 0.3s;transition: all 0.3s;background-color: white;}

    #ham-menu.active .bar:nth-child(1){transform: translateY(8px) rotate(45deg);}
    #ham-menu.active .bar:nth-child(2){opacity: 0;}
    #ham-menu.active .bar:nth-child(3){transform: translateY(-8px) rotate(-45deg);}
    
    nav{display: none;position: fixed;top: 60px;flex-direction: column;background-color: rgb(0, 16, 88);
    width: 100%;transition: 0.3s;}
    nav ul{flex-direction: column;text-align: center;}
    nav li{margin: 1rem 0;}
    .current{background-color: #2f2595;box-shadow: 0px 0px 5px #4335d8;}
    nav.active{display: flex;}
}