h1, p {color: white}
main{display: block;}
.thankyou-inf p{color: black;}

.thankyou-inf{
    width: 500px;
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgba(231, 225, 225, 0.545);
    box-shadow: 0 0 15px black;
}

.name{font-size: 1.5rem;}

@media screen and (max-width: 600px){
    h1{font-size: .8rem;}
    .text{font-size: .6rem;}
    .thankyou-inf{width: 250px; padding: 1rem;}
    .name{font-size: 1.2rem;}
}